.navbar{
	margin-bottom:0px !important;
}

.main-menu {
	margin-bottom: 0;
	background-color: #222;
	border: none;
}


.main-banner {
	padding-top: 70px;
	padding-bottom: 60px;
	margin-bottom:20px;
		
	 h1 {
		color: #fff;			
	}
}	
